.container {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr;

  justify-items: center;

  height: 100%;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  
  max-width: 1440px;
  width: 1440px;
  
  border-bottom: 1px solid #efefef;
  
  &_menu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content max-content max-content auto;
    justify-items: center;
    align-items: center;

    font-weight: bold;
    font-size: 14px;

    .logo{
      font-size: 20px;
    }
    .docs{
      margin: 0 50px;
    }
    .news{}
    .feedback{
      justify-self: end;
    }
  }
}
